/* HEADER LANG */
.site-header {
  background: #ded9d3;
  border-bottom: 1px solid #ddd;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: right;
  height: 70px;
}

.logo {
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 1px;
  user-select: none;
}
/* MENU SCREEN CANNOT SEEN ON WIDE SCREEN */
.menu-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.nav-menu {
  flex-grow: 1;
  margin-left: 40px;
}
/*NAV MENU AT USER PROFILE NASA RIGHT SIDE */
.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-weight: 700;
  user-select: none;
}
.nav-list li {
  cursor: pointer;
}
.nav-list li a {
  color: #222;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.9px;
}
.nav-list li a:hover {
  text-decoration: underline;
}
.cart-icon {
  position: relative;
  font-size: 20px;
  cursor: pointer;
  color: #383636;
}
.profile-container {
      max-width: 750px;
      margin: 50px auto;
      background: #fff;
      padding: 10px;
      border-radius: 2px;
      box-shadow: 0 3px 20px rgba(0,0,0,0.1);
    }

    /*Profile user settings */
    .profile-header {
      text-align: center;
      margin-bottom: 10px;
    }
    .profile-header img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      border: 3px solid #4b4b4b;
      margin-bottom: 20px;
    }
    .profile-section {
      margin-bottom: 30px;
    }
    .profile-section h4 {
      margin-bottom: 10px;
    }

    /*Buttons */
    .logout-btn {
      width: 100%;
      background: #0051ff;
      border: none;
      padding: 12px;
      border-radius: 8px;
      color: white;
      cursor: pointer;
      font-size: 16px;
    }
    .logout-btn:hover {
      background: #b52a36;
    }

   /* FOOTER BOTTOM */
.footer-bottom {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #333;
  user-select: none;
}
.footer-bottom a {
  color: #444;
  text-decoration: none;
  font-weight: 600;
  margin: 0 7px;
}
.footer-bottom a:hover {
  text-decoration: underline;
}
